@charset "UTF-8";

.footer {
  background-color: #332f2f;
  color: #fcf9f9;
  font-size: .8rem;
  font-weight: 700;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  opacity: .75;
}

.footer__link {
  color: #fcf9f9;
  font-size: .8rem;
  font-weight: 700;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #9c9a9a;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
}

*::-moz-selection {
  color: #b85454;
}

*::selection {
  color: #b85454;
}

body {
  max-width: 100vw;
}

.container {
  padding: 0 55px;
}

.text-wow {
  color: #b85454;
  text-transform: uppercase;
  font-size: 2.5em;
}

.header {
  height: 100vh;
  max-width: 100vw;
  padding: 0;
}

.header__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header__view-logo {
  font-size: 56px;
  color: #fcf9f9;
  font-weight: 100;
  margin: 0 0 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header__view-content--img {
  width: 100vw;
  background-image: url(../img/header__bg.jpg);
  background-position: center center;
  opacity: 0.75;
  -webkit-box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 50px;
}

.header__view-body {
  padding: 50px 0 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__view-title {
  color: #fcf9f9;
  font-size: 96px;
  margin: 0 0 15px;
  font-weight: 700;
}

.header__view-description {
  color: #fcf9f9;
  font-size: 36px;
  margin: 0 50px 50px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.header__view-btn {
  font-size: 36px;
  padding: .5em .7em;
  background-color: #b85454;
  -webkit-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
  color: #fcf9f9;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .25em;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
  position: relative;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 30px 50px 0 0;
}

.header__view-btn:hover {
  background-color: #60969f;
  color: #fcf9f9;
  -webkit-box-shadow: 0 .15em 0 black;
          box-shadow: 0 .15em 0 black;
  top: -.15em;
}

.header__view-btn:active {
  background-color: #60969f;
  color: #fcf9f9;
  -webkit-box-shadow: 0 .1em 0 black;
          box-shadow: 0 .1em 0 black;
  top: -.1em;
  opacity: 0.75;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: fixed;
  top: 25px;
  left: 50px;
  z-index: 5000;
}

.header__menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 25px -35px;
  cursor: pointer;
}

.header__menu-burger--icon {
  height: 3px;
  background-color: #b85454;
  width: 35px;
  margin-bottom: 7px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  padding: 25px 15px;
  background-color: #60969f;
  position: relative;
  z-index: 1000;
  -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
  left: -750px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 1.5s ease .1s;
  -webkit-transition: all 1.5s ease .1s;
  -moz-transition: all 1.5s ease .1s;
  -ms-transition: all 1.5s ease .1s;
  -o-transition: all 1.5s ease .1s;
}

.header__menu-item {
  margin-bottom: 10px;
  height: 1.5rem;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #60969f00;
  position: relative;
  z-index: auto;
}

.header__menu-item:hover {
  position: relative;
  top: -2px;
  border-bottom: 2px solid #fcf9f9;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__menu-item a {
  color: #fcf9f9;
  font-size: 24px;
  margin: 10px;
  text-transform: uppercase;
  -webkit-transform: uppercase;
  -moz-transform: uppercase;
  -ms-transform: uppercase;
  -o-transform: uppercase;
}

.header__menu-item a:hover {
  position: relative;
  top: -1px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background-color: #fcf9f9;
}

.about {
  width: 100vw;
  padding: 0;
}

.about__title {
  color: #60969f;
  font-size: 48px;
  letter-spacing: .25em;
  margin: 100px 0 10px 0;
  padding: 0 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  border-left: 4px solid #b85454;
}

.about__description {
  color: #60969f;
  font-size: 18px;
  margin: 0 50px 50px 0;
  padding: 0 0 0 15px;
  letter-spacing: .25em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content-block {
  width: 100%;
  padding: 50px 70px;
}

.about__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #332f2f;
  font-size: 24px;
  letter-spacing: 0.1em;
  margin: 0 0 1.5em;
}

.about__list {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #332f2f;
}

.about__list-item {
  letter-spacing: 0.1em;
  margin: 0 0 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #60969f;
  padding: 1.5em;
  color: #fcf9f9;
  cursor: pointer;
  transition: all .25s ease .1s;
  -webkit-transition: all .25s ease .1s;
  -moz-transition: all .25s ease .1s;
  -ms-transition: all .25s ease .1s;
  -o-transition: all .25s ease .1s;
}

.about__list-item:hover {
  background-color: #b85454;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
}

.services {
  width: 100vw;
  padding: 0;
}

.services__title {
  color: #60969f;
  font-size: 48px;
  letter-spacing: .25em;
  margin: 100px 0 10px 0;
  padding: 0 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  border-left: 4px solid #b85454;
}

.services__content {
  margin: 50px 0;
}

.services__content-block {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 70px;
  margin: 0 0 50px;
}

.services__description {
  color: #60969f;
  font-size: 18px;
  margin: 0 50px 50px 0;
  padding: 0 0 0 15px;
  letter-spacing: .25em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 5em 0 5em;
  padding: 0;
}

.content-block {
  padding: 0 0 85% 0;
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.content-block__item {
  position: absolute;
}

.content-block__title {
  color: #60969f;
  font-size: 18px;
  margin: 0 0 10px 0;
  letter-spacing: .25em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  top: 15px;
  left: 25px;
  font-size: 1.5rem;
  z-index: 600;
  color: #b85454;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #9c9a9a;
          box-shadow: 0 0 5px #9c9a9a;
}

.content-block__button {
  top: 70%;
  left: 80px;
  padding: 10px 15px;
  color: #b85454;
  background-color: #fcf9f9;
  border: 2px solid #b85454;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-box-shadow: 0 0 5px #9c9a9a;
          box-shadow: 0 0 5px #9c9a9a;
  opacity: .85;
}

.content-block__button:hover {
  -webkit-box-shadow: 0 0 10px #9c9a9a;
          box-shadow: 0 0 10px #9c9a9a;
  opacity: 1;
}

.content-block__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.content-block__overlay {
  background-color: black;
  z-index: 500;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.content-block__text {
  z-index: 700;
  font-size: 1.15em;
  position: absolute;
  width: 150%;
  max-width: 80vw;
  height: auto;
  line-height: 1.5em;
  padding: 10px 20px;
  background: rgba(96, 150, 159, 0.85);
  color: #fcf9f9;
  top: 90%;
  left: -25%;
  font-weight: 700;
  border: 5px solid #fcf9f9;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #332f2f;
          box-shadow: 0 0 20px #332f2f;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-block__text--left {
  left: -45%;
}

.content-block__text--right {
  left: -5%;
}

.content-block__list-item {
  margin: 0 0 1.5em;
}

.content-block__list-item:before {
  content: '$';
  margin-right: 10px;
}

.content-card {
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.content-card__item {
  z-index: 1000;
}

.content-card__title {
  position: absolute;
  color: #60969f;
  font-size: 18px;
  margin: 0 0 10px 0;
  letter-spacing: .25em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
  height: 5rem;
  z-index: 600;
  color: #b85454;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 15px;
  border-radius: 5px 5px 15px 15px;
  -webkit-box-shadow: 0 0 15px #fcf9f9;
          box-shadow: 0 0 15px #fcf9f9;
}

.content-card__img {
  background-size: cover;
  width: 100%;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 10px #9c9a9a;
          box-shadow: 0 0 10px #9c9a9a;
  -webkit-box-shadow: 0 5px 5px #9c9a9a;
          box-shadow: 0 5px 5px #9c9a9a;
}

.content-card__description {
  color: #b85454;
  font-size: 14px;
  margin: 0 0 15px 0;
  letter-spacing: .15em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  padding: 40px 15px 10px;
  z-index: 600;
  height: 120px;
}

.content-card__text {
  padding: 10px 15px;
  z-index: 600;
}

.content-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-card__list-item {
  margin: 0 0 1.5em;
}

.content-card__list-item:before {
  content: '$';
  margin-right: 10px;
  color: #b85454;
  font-size: 1.5rem;
}

.content-card button {
  padding: 10px 25px;
  color: #b85454;
  background-color: #fcf9f9;
  border-radius: 10px 10px 5px 5px;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-box-shadow: 0 0 5px #9c9a9a;
          box-shadow: 0 0 5px #9c9a9a;
  opacity: .85;
}

.content-card button:hover {
  -webkit-box-shadow: 0 0 10px #b85454;
          box-shadow: 0 0 10px #b85454;
  background-color: #b85454;
  color: #fcf9f9;
}

.steps {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__title {
  color: #60969f;
  font-size: 48px;
  letter-spacing: .25em;
  margin: 100px 0 10px 0;
  padding: 0 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  border-left: 4px solid #b85454;
}

.steps__content {
  height: 100%;
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 150px;
}

.steps__link {
  color: #b85454;
}

.steps-column__picture {
  background-image: url("../img/steps.jpg");
  width: 100%;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 10px #9c9a9a;
          box-shadow: 0 0 10px #9c9a9a;
  -webkit-box-shadow: 0 5px 5px #9c9a9a;
          box-shadow: 0 5px 5px #9c9a9a;
  margin: 0 25px 0 0;
}

.steps-column--img {
  background-size: cover;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 10px #9c9a9a;
          box-shadow: 0 0 10px #9c9a9a;
  -webkit-box-shadow: 0 5px 5px #9c9a9a;
          box-shadow: 0 5px 5px #9c9a9a;
}

.steps-column__list {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps-column__list-item {
  color: #60969f;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.steps-column__list-item:before {
  content: '$';
  color: #b85454;
  margin: 0 15px;
}

.contacts {
  width: 100vw;
  margin: 150px 0 0 0;
}

.contacts__title {
  color: #60969f;
  font-size: 48px;
  letter-spacing: .25em;
  margin: 100px 0 10px 0;
  padding: 0 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  border-left: 4px solid #b85454;
  margin: 0 50px 50px;
}

.contacts__content {
  position: relative;
}

.contacts__maps {
  min-width: 100%;
}

.contacts-block {
  position: absolute;
  top: 20%;
  left: 70%;
  background-color: rgba(252, 248, 248, 0.75);
  padding: 25px 35px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #60969f;
}

.contacts-block__item {
  margin: 0 0 15px;
}

.contacts-block__subtitle {
  color: #60969f;
  font-size: 24px;
  letter-spacing: .2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.contacts-block hr {
  color: #60969f;
}

.contacts-block__adress {
  color: #332f2f;
}

.contacts-block__adress--link {
  color: #332f2f;
}

.contacts-block__tel--link {
  color: #332f2f;
  font-weight: 700;
  margin: 15px 0 0 0;
  font-size: 18px;
}

.contacts-block__tel--link i {
  margin: 0 10px 0 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #9c9a9a;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
}

*::-moz-selection {
  color: #b85454;
}

*::selection {
  color: #b85454;
}

body {
  max-width: 100vw;
}

.container {
  padding: 0 55px;
}

.text-wow {
  color: #b85454;
  text-transform: uppercase;
  font-size: 2.5em;
}

.modal {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all .25s ease .5s;
  -webkit-transition: all .25s ease .5s;
  -moz-transition: all .25s ease .5s;
  -ms-transition: all .25s ease .5s;
  -o-transition: all .25s ease .5s;
}

.modal__body {
  width: 450px;
  background-color: #60969f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 50px;
  border-radius: .5em;
  position: relative;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.modal__form-item {
  margin: 0 0 30px;
  width: 100%;
}

.modal__close {
  color: #fcf9f9;
  font-size: 2rem;
  position: absolute;
  top: -30px;
  right: -45px;
  cursor: pointer;
}

.modal__title {
  font-size: 24px;
  text-align: center;
  color: #fcf9f9;
}

.modal__input {
  height: 3.5em;
  padding: 0.5em 1em;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
  transition: all .25s ease .1s;
  -webkit-transition: all .25s ease .1s;
  -moz-transition: all .25s ease .1s;
  -ms-transition: all .25s ease .1s;
  -o-transition: all .25s ease .1s;
}

.modal__input:focus {
  -webkit-box-shadow: 0 0 40px #b85454;
          box-shadow: 0 0 40px #b85454;
}

.modal__textarea {
  min-width: 100%;
  max-width: 100%;
  padding: 0.5em 1em;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
  transition: all .25s ease .1s;
  -webkit-transition: all .25s ease .1s;
  -moz-transition: all .25s ease .1s;
  -ms-transition: all .25s ease .1s;
  -o-transition: all .25s ease .1s;
}

.modal__textarea:focus {
  -webkit-box-shadow: 0 0 40px #b85454;
          box-shadow: 0 0 40px #b85454;
}

.btn__form {
  font-size: 18px;
  padding: .5em .7em;
  background-color: #fcf9f9;
  -webkit-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
  color: #b85454;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .25em;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
}

.btn__form:hover {
  background-color: #fcf9f9;
  color: #b85454;
  -webkit-box-shadow: 0 .15em 0 black;
          box-shadow: 0 .15em 0 black;
  top: -.15em;
}

.btn__form:active {
  background-color: #fcf9f9;
  color: #b85454;
  -webkit-box-shadow: 0 .1em 0 black;
          box-shadow: 0 .1em 0 black;
  top: -.1em;
  opacity: 0.75;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

html {
  overflow-x: hidden;
}

body {
  background-color: #9c9a9a;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
}

*::-moz-selection {
  color: #b85454;
}

*::selection {
  color: #b85454;
}

body {
  max-width: 100vw;
}

.container {
  padding: 0 55px;
}

.text-wow {
  color: #b85454;
  text-transform: uppercase;
  font-size: 2.5em;
}
@supports (-webkit-appearance:none){
.header__view-content--img{background-image:url(../img/header__bg.webp)}
.steps-column__picture{background-image:url("../img/steps.webp")}
}
